* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: hsl(210, 46%, 95%);
}

h1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin-bottom: 12px !important;
}

h2 {
  font-size: 13px;
  margin-bottom: 3px;
  color: #48556a;
  font-weight: 700;
}

h3 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #9daec2;
  padding: 6px 15px 0 0;
}

.article-info p {
  font-size: 13px;
  color: hsl(214, 17%, 51%);
  margin-bottom: 24px;
}

.article {
  height: 100vh;
  width: 100vw;
  background-color: hsl(210, 46%, 95%);
}

.article-container {
  max-width: 730px;
  box-shadow: 8px 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
}

.article-img {
  height: auto;
  overflow: hidden;
  flex-basis: 110%;
  border-radius: 8px 0 0 8px;
}

.image-drawers {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.article-info {
  background: #ffffff;
  height: auto;
  border-radius: 0 8px 8px 0;
  padding: 32px 40px;
}

.michelle {
  border-radius: 50%;
  width: 40px;
  height: auto;
  margin-right: 15px;
}

.date {
  padding-top: 3px;
  margin-right: auto;
}

.date p {
  margin: 0 !important;
  color: #9daec2;
}

#share-btn {
  border-radius: 50%;
  padding: 5px 9px 6px;
  border: none;
  background: hsl(210, 46%, 95%);
  color: hsl(214, 17%, 51%);
}

#share-btn:hover {
  background: hsl(214, 17%, 51%);
  color: #ffffff;
  transition: all 0.25s ease-in-out;
}

.pop-up {
  position: absolute;
  width: 248px;
  background: hsl(217, 19%, 35%);
  right: 21%;
  top: 49%;
  padding: 12px 32px 8px;
  border-radius: 10px;
}

.pop-up::after {
  content: "";
  position: absolute;
  border-top: 15px solid hsl(217, 19%, 35%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  left: 100px;
  top: 49px;
}

.social-media {
  padding-bottom: 10px;
}

.social-media img {
  padding-right: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
