* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  height: 100vh;
  background-color: hsl(210, 46%, 95%);
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 13px;
}

p {
  font-size: 13px;
}

.card {
  height: 100%;
  background-color: hsl(210, 46%, 95%);
}

.card-container {
  max-width: 80%;
}

.drawer {
}

.michelle {
  border-radius: 50%;
  max-width: 40%;
}

.share {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
